body{
    background-color:aquamarine;
}
h2{
    font-family:cursive;
}
li{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    font-size: 14px;
    font-style: oblique;
}
.imagen1{
    opacity:0.5;
}
.imagen1:hover{
    opacity: 1;
}
h3{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}
h4{
    font-size: 20px;
    color: blue;
}
p{
    font-style: oblique;
}
